@model IEnumerable<Instatus.Web.WebParameter>

@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";    
    ViewBag.Title = "Admin";
}

@if (!Model.IsEmpty())
{
    <h1>Output</h1>
    @Html.Partial("Parameters", Model)
}

<h1>Admin</h1>

@using (Html.BeginMultipartForm("LoadPages"))
{
    <h2>Load Pages</h2>
    <fieldset>
        <legend>Server</legend>
        @Html.TextBox("path")
    </fieldset>
    <fieldset>
        <legend>Upload</legend>
        @Html.FileInput()
    </fieldset>
    @Html.SubmitButton()
}

@using (Html.BeginMultipartForm("GenerateHash"))
{
    <h2>Generate Hash</h2>
    <fieldset>
        <legend>Value</legend>
        @Html.TextBox("value")
    </fieldset>
    <fieldset>
        <legend>Salt</legend>
        @Html.TextBox("salt")
    </fieldset>
    @Html.SubmitButton()
}

@using (Html.BeginMultipartForm("GenerateUnixTimestamp"))
{
    <h2>Generate Unix Timestamp</h2>
    <fieldset>
        <legend>Date</legend>
        @Html.TextBox("date", DateTime.UtcNow)
    </fieldset>
    @Html.SubmitButton()
}

@using (Html.BeginMultipartForm("ThrowError"))
{
    <h2>Throw Error</h2>
    <fieldset>
        <legend>Error Message</legend>
        @Html.TextBox("message")
    </fieldset>
    @Html.SubmitButton()
}