@inherits ExtendedViewPage<PagedViewModel<Instatus.Core.Models.Entry>>

@{
    Layout = "~/Views/Shared/_Bootstrap.cshtml";
    ViewBag.Title = Phrase(WellKnown.Phrase.AppName);
}

@Html.Metadata(Model.Document.Metadata)

<div class="container">
    <h1 class="page-header">@Phrase(WellKnown.Phrase.AppName)</h1>
    <p>@Phrase("Welcome") @User.Identity.Name</p>
    <p>Locale: @Preferences.Locale</p>
    <p><a href="@Url.Page("about")">About</a></p>
    <h2>Entries</h2>
    @foreach (var entry in Model)
    {
        <p>@entry.Text</p>
    }
    @Html.Pagination(Model)
    @Html.SelectLocale()
</div>