@inherits Instatus.Integration.Mvc.ExtendedViewPage

@using Instatus.Core
@using Instatus.Scaffold

@{
    Layout = "~/Views/Shared/_Bootstrap.cshtml";
}

@Html.AppBar()

<div class="container">
    <div class="well">
        @Html.Action("Create")
    </div>
    <table class="table table-striped table-bordered table-condensed span12">
        <thead>
            <tr>
                <th>@Phrase("Thumbnail")</th>
                <th style="width: 50%;">@Phrase("Path")</th>
                <th>@Phrase("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (string virtualPath in Model as IEnumerable<string>)
            {
                <tr>
                    <td>
                        <a href="@Url.BlobContent(virtualPath)" class="thumbnail" target="_blank">
                            <img src="@Url.BlobContent(virtualPath)" style="max-width: 100px; max-height: 100px;">
                        </a>
                    </td>
                    <td>@Path.GetFileName(virtualPath)</td>
                    <td>
                        @Html.TextBox(Guid.NewGuid().ToString(), virtualPath, new { @class = "span5" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>