@inherits Instatus.Integration.Mvc.ExtendedViewPage

@using Instatus.Core
@using Instatus.Scaffold

@{
    Layout = "~/Views/Shared/_Bootstrap.cshtml";
}

@Html.AppBar()

<div class="container">
    @Html.Commands()
    <table class="@Html.TableHint()">
        <thead>
            <tr>
                <th>@Phrase("Id")</th>
                <th style="width: 50%;">@Phrase("Title")</th>
                <th>@Phrase("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (dynamic item in Model as IPaged)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ToString()</td>
                    <td>
                        @Html.Actions(item as object)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="span12">
        @Html.Pagination(Model as IPaged)
    </div>
</div>