@using Instatus.Integration.Mvc

@foreach (var prop in ViewData.GetEditableProperties())
{
    var hasModelStateError = ViewContext.ViewData.ModelState.HasError(prop.PropertyName);  
    <div class="@Html.ControlGroupHint(prop.PropertyName, hasModelStateError)">
        @if (prop.IsReadOnly)
        {
            <b>@prop.GetDisplayName()</b>
            @Html.Display(prop.PropertyName)
        }
        else if (prop.HideSurroundingHtml)
        {
            @Html.Editor(prop.PropertyName)                    
        }
        else
        {
            if (!prop.IsCheckbox()) 
            {
                <label class="control-label">
                    @prop.GetDisplayName()
                    @if(prop.IsRequired) 
                    {
                        <span class="required">*</span> 
                    }            
                </label>
            }                     
            <div class="controls">
                @if (prop.IsCheckbox()) 
                {
                    <label class="checkbox">
                        @prop.GetDisplayName()
                        @Html.Editor(prop.PropertyName) 
                    </label>                    
                } 
                else 
                {
                    @Html.Editor(prop.PropertyName)                        
                }
                @if (hasModelStateError)
                {
                    <p class="alert alert-block">
                        @Html.ValidationMessage(prop.PropertyName)
                    </p>
                }
                @if (!string.IsNullOrWhiteSpace(prop.Description))
                {
                    <p class="help-block">
                        @prop.Description
                    </p>              
                }                    
            </div>
        }            
    </div>     
}