@model string

@using Instatus.Integration.Mvc

@{
    var inputName = ViewData.TemplateInfo.HtmlFieldPrefix;    
    var thumbnailId = string.Format("thumbnail-{0}", inputName.ToLower());
}

@if (string.IsNullOrEmpty(Model))
{
    <img id="@thumbnailId" class="thumbnail" hidden style="max-width: 100px; max-height: 100px;"/>
}
else
{
    <img id="@thumbnailId" src="@Url.BlobContent(Model)" class="thumbnail" style="max-width: 100px; max-height: 100px;"/>
}

<input id="@inputName" name="@inputName" class="span3 @Html.ValidationHint()" value="@Model" type="text" readonly />
@Html.ActionLink("Select", "Index", "File", new { inputId = inputName, thumbnailId = thumbnailId }, new { @class = "btn", target = "_blank" })
@if (!ViewData.ModelMetadata.IsRequired)
{
    <button type="button" data-input-id="@inputName" data-thumbnail-id="@thumbnailId" onclick="removeMedia(this)">Remove</button>
}

<script>
    function removeMedia(el) {
        var id = document.getElementById;
        var button = $(el);
        var inputId = button.data('inputId');
        var thumbnailId = button.data('thumbnailId');

        $(id(inputId)).val('');
        $(id(thumbnailId)).hide();
    }
</script>