@inherits Instatus.Integration.Mvc.ExtendedViewPage

@using Instatus.Integration.Mvc

@{
    ViewBag.Title = @Phrase("Login");
}

<div class="container">
    <h1 class="page-header">@Phrase("Login")</h1>
    <div class="row">
        <div class="span6">
            @using (Html.BeginForm("Login", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.EditorForModel()
                @Html.Submit(Phrase("Login"))
            }
        </div>
        <div class="span6">
            @using (Html.BeginForm("ExternalLogin", "Account"))
            {
                @Html.AntiForgeryToken()
                foreach (var provider in AccountController.RegistedProviders)
                {
                    <button type="submit" name="provider" value="@provider" class="btn btn-primary btn-large">
                        @Phrase(provider)
                    </button>
                }
            }
        </div>
    </div>
</div>