@inherits Instatus.Integration.Mvc.ExtendedViewPage

@{
    ViewBag.Title = @Phrase("Login");
}

@using (Html.BeginForm("Login", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <button type="submit">@Phrase("Login")</button>
}

@using (Html.BeginForm("ExternalLogin", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.DropDownList("provider", new SelectList(new string[] { "Facebook", "Google" }))
    <button type="submit">@Phrase("Login")</button>
}