@inherits Instatus.Integration.Mvc.ExtendedViewPage<Instatus.Scaffold.Models.Blog>

<div class="container">
    <h1 class="page-header">@Phrase("Blog")</h1>
    <div class="row">
        <div class="span8">
            @foreach (var post in Model)
            {
                <article class="@Html.PositionHint(Model, post)">
                    <a href="@Url.Action("Details", new { slug = post.Slug })">
                        <h1>@post.Title</h1>
                        @Html.Raw(post.Body)
                    </a>
                </article>
            }
        </div>
        <div class="span4">
            <section>
                <h2>@Phrase("Tags")</h2>
                <ul>
                    @foreach (var tag in Model.TagCloud)
                    {
                        <li>
                            @Html.ActionLink(string.Format("{0} ({1})", tag.Key, tag.Value), "Index", new { tag = tag.Key, pageIndex = 0 })
                        </li>
                    }
                </ul>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            @Html.Pagination(Model)
        </div>
    </div>
</div>