@inherits Instatus.Integration.Mvc.ExtendedViewPage

@{
    ViewBag.Title = Phrase(WellKnown.Phrase.AppName);
}

<h1>@Phrase(WellKnown.Phrase.AppName)</h1>

<p>@Phrase("Welcome") @User.Identity.Name</p>

<p>Locale: @SessionData.Locale</p>

<p><a href="@Url.ContentPage("about")">About</a></p>