@inherits Instatus.Integration.Mvc.ExtendedViewPage<PagedViewModel<Instatus.Core.Models.Entry>>

@using Instatus.Scaffold

@{
    ViewBag.Title = Phrase(WellKnown.Phrase.AppName);
}

<div class="container">
    <h1 class="page-header">@Phrase(WellKnown.Phrase.AppName)</h1>
    <p>@Phrase("Welcome") @User.Identity.Name</p>
    <p>Locale: @SessionData.Locale</p>
    <p><a href="@Url.ContentPage("about")">About</a></p>
    <h2>Entries</h2>
    @foreach (var entry in Model)
    {
        <p>@entry.Text</p>
    }
    @Html.Pagination(Model)
    @Html.SelectLocale()
</div>