@model Instatus.Core.Models.Document
<html>
    <head>
        <title>@Model.Title</title>
        @Html.Partial("_Metadata", Model.Metadata)
    </head>
<body>
    <h1>@Model.Title</h1>
    @Html.Raw(Model.Description)
    @foreach (var sec in Model.Sections)
    {
        <section>
            <h2>@sec.Heading</h2>
            @Html.Raw(sec.Body)
        </section>
    }
</body>
</html>