<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/bootstrap" />
    <script src="/scripts/bootstrap"></script>
    @RenderSection("head", false)
</head>
<body>
    <div class="application-container">        
        @if(IsSectionDefined("banner")) 
        {
            <header role="banner" class="container">
                <div>
                    @RenderSection("banner", false)            
                </div>
            </header>
        }
        @if (IsSectionDefined("navigation"))
        {
            <nav role="navigation" class="container">
                <div>
                    @RenderSection("navigation", false)      
                </div>
            </nav>    
        }
        <section role="main" class="page-container container">
            @if (IsSectionDefined("header"))
            {
                <header class="page-header">
                    @RenderSection("header", false)            
                </header>  
            }    
            @if (IsSectionDefined("figure"))
            {
                <figure>
                    @RenderSection("figure", false)
                </figure>
            }
            @if (IsSectionDefined("menu"))
            {            
                <menu>
                    @RenderSection("menu", false)
                </menu>
            }
            <div class="page-body">
                @RenderBody()  
            </div> 
            @if (IsSectionDefined("aside"))
            {  
                <aside>
                    @RenderSection("aside", false)
                </aside>
            }
        </section>
        @if (IsSectionDefined("footer"))
        {
            <footer role="contentinfo" class="container">
                <div>
                    @RenderSection("footer", false)
                </div>
            </footer>
        }
    </div>
    @RenderSection("scripts", false)
</body>
</html>