<!DOCTYPE html>
<html @Html.BrowserCapabilitiesAttributes()>
<head>
    <meta charset="utf-8" />
    @Html.Title()
    @Html.Viewport()
    @Html.MetaTags()
    @Html.Stylesheet("bootstrap.css")
    @Html.Stylesheet("bootstrap-responsive.css")
    @Html.Scripts("modernizr.js", "jquery.js", "respond.js", "bootstrap.js")
    @RenderSection("head", false)
    @Html.Parts(WebZone.Head)
</head>
<body@(Html.RouteDataAttributes())>
    @Html.Parts(WebZone.Tracking)
    <header role="banner">
        <div>
            @RenderSection("header", false)
            @Html.Parts(WebZone.Header)                
        </div>
    </header>
    <nav role="navigation">
        <div>
            @RenderSection("navigation", false)
            @Html.Parts(WebZone.Navigation)        
        </div>
    </nav>    
    <div class="container">
        @RenderBody()  
        <aside>
            @RenderSection("aside", false)
            @Html.Parts(WebZone.Aside)
        </aside>
    </div>
    <footer role="contentinfo">
        <div>
            @RenderSection("footer", false)
            @Html.Parts(WebZone.Footer) 
        </div>
    </footer>
    @RenderSection("scripts", false)
    @Html.Parts(WebZone.Scripts)
</body>
</html>