<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Html.Title()</title>
    @Html.Stylesheet("bootstrap.css")
    @Html.Stylesheet("bootstrap-responsive.css")
    @Html.Scripts("modernizr.js", "jquery.js", "respond.js", "bootstrap.js")
    @RenderSection("head", false)
    @Html.Parts(WebZone.Head)
</head>
<body @Html.RouteDataAttributes()>
    @RenderSection("nav", false)
    <div class="container">
        @RenderBody()    
    </div>
    @RenderSection("scripts", false)
    @Html.Parts(WebZone.Scripts)
</body>
</html>