<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @RenderSection("base_head")
</head>
<body @Html.Attr("id", ViewContext.RouteData.ToUniqueId()) @Html.Attr("class", ViewContext.RouteData.ToClassName())>
    @RenderBody()
</body>
</html>