<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Stylesheet("scaffold.css")
    @Html.Scripts("modernizr.js", "jquery.js", "respond.js", "innershiv.js")
</head>
<body>
    @RenderBody()
    @Html.Scripts("scaffold.js")
</body>
</html>