<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Stylesheet("scaffold.css")
    @Html.Scripts("modernizr.js", "jquery.js", "respond.js", "innershiv.js")
    @RenderSection("head", false) 
</head>
<body @Html.Attr("id", ViewContext.RouteData.ToUniqueId()) @Html.Attr("class", ViewContext.RouteData.ToClassName())>
    @RenderBody()
    @Html.Scripts("scaffold.js")
</body>
</html>