@model Instatus.Models.Page

@{
    ViewBag.Title = Model.Name;
}

<div class="page">
    <h1>@Model.Name</h1>
    @if (!Model.Description.IsEmpty())
    {
        <div class="description">
            @Html.Content(Model.Description)        
        </div>
    }
    @if (Model.Document != null)
    {
        <div class="document">
            @Html.Content(Model.Document.Body)
            @Html.Parts()
        </div>
    }
</div>
<nav>
    @Html.Partial("Branding")  
    @Html.Action("Nav")    
</nav>