@model Instatus.Models.Page

@{
    ViewBag.Title = Model.Name;
}

@section head {
    @Html.Parts(WebZone.Head)
}

<div role="main">
    <h1>@Model.Name</h1>
    @if (!Model.Description.IsEmpty())
    {
        <div class="description">
            @Html.Content(Model.Description)        
        </div>
    }
    @if (Model.Document != null)
    {
        <div class="document">
            @Html.Parts(WebZone.Figure)
            @Html.Content(Model.Document.Body)
            @Html.Parts(WebZone.Body)
        </div>
    }
</div>
<nav role="navigation">
    <div>
        @Html.Action("Brand")  
        @Html.Action("Nav")        
    </div>
</nav>
<footer>
    <div>
        @Html.Parts(WebZone.Footer) 
        @Html.Action("Legal")   
    </div>
</footer>
@Html.Parts(WebZone.Scripts)