@model WebSection

<section id="carousel" class="carousel slide">
    @Html.Tag("h1", Model.Heading)
    @Html.Tag("h2", Model.Strapline)
    @Html.Content(Model.Body)  
    <menu>
        @for(var i = 0; i < Model.Links.Count; i++)
        {
            <a class="badge @Model.Links.ToPositionString(Model.Links[i], "active")" data-target="#carousel" data-to="@i">
                @(i + 1)
            </a>
        }
    </menu>
    <div class="carousel-inner">      
        @if (Model.Links.NonEmpty())
        {
            foreach (var link in Model.Links)
            {
                <div class="item @Model.Links.ToPositionString(link, "active")">
                    @if (WebMimeType.IsPhoto(link.ContentType))
                    {
                        <figure>
                            <figcaption>@link.Title</figcaption>
                            @Html.Content(link.Description)
                            @Html.Image(link.Uri, link.Title)
                        </figure>
                    }
                    else
                    {
                        @Html.Tag("b", link.Title)
                        @Html.Anchor(WebPhrase.View, WebPath.Absolute(link.Uri))
                    }
                </div>
            }
        } 
    </div>
    <a class="carousel-control left" href="#carousel" data-slide="prev">@Html.LeftArrow()</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">@Html.RightArrow()</a>
</section>

<script>
    $('#carousel').carousel({
        interval: 10000
    });
    $('.carousel-inner').bind('slid', function () {
        var links = $(this).parent().children('menu').children();
        var currentIndex = $(this).find('.active').prevAll().length;
        links.removeClass('active');
        links.eq(currentIndex).addClass('active');
    });
    $('#carousel').on('click', '[data-to]', function (e) {
        e.preventDefault();
        var button = $(this);
        var to = parseInt(button.data('to'));
        $('.carousel-inner').carousel(to);
    });
</script>