@{
    Layout = "~/Views/Shared/_Bootstrap.cshtml";
}

@section head {
    @Html.Stylesheet("scaffold.css")
}

@section scripts {
    @Html.Scripts("scaffold.js")
}

@helper Create() {
    <div class="form-actions">
        @Html.SubmitButton(WebPhrase.Create, "btn btn-primary")
    </div>
    @Html.EditorForModel()    
}

@if (ViewData.ModelMetadata.AdditionalValues.Value("File").AsBoolean())
{
    using (Html.BeginMultipartForm(className: "form-horizontal"))
    {
        @Create()
    }
}
else
{
    using (Html.BeginForm("Create", ViewContext.RouteData.ControllerName(), FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Create()
    }
}    