@model IWebView

@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
}

@section head {
    <link rel="self" href="@Url.Action("Index", Model.Query.ToRouteValueDictionary())" />
}

<menu>
    @Html.Partial("Menu", Model)
</menu>
<table>
    <thead>
        <tr>
            <td>@WebPhrase.Id</td>
            <td>@WebPhrase.Description</td>
            <td>@WebPhrase.Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
            Model.CurrentRow = entry;
            <tr>
                <td>
                    @entry.GetKey()
                </td>
                <td>
                    @Html.Partial("Entry", entry)
                </td>
                <td>
                    @Html.Partial("Actions", Model)
                    @Html.Partial("Commands", Model)
                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <nav>  
        @Html.Partial("Nav", Model.Navigation)
        @Html.Partial("LoginStatus")
    </nav>
</nav>
@if (!Model.Document.IsEmpty() && !Model.Document.Body.IsEmpty())
{
    <aside>
        @Html.Content(Model.Document.Body)
    </aside>
}