@model Instatus.Areas.Auth.Models.LogOnViewModel

@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
    ViewBag.Title = WebPhrase.LogOn;
}

<div class="container">
    @using (Html.BeginForm("LogOn", ViewContext.RouteData.ControllerName(), FormMethod.Post, new { @class = "form-horizontal" })) 
    {
        @Html.HiddenFor(m => m.ReturnUrl)
        <header class="page-header">
            <h1>@WebPhrase.LogOn</h1>        
        </header>
        if (!ViewData.ModelState.IsValid)
        {
            <p class="alert">
                @Html.ValidationMessage("password")
            </p>
        }
        <div class="control-group">
            <label for="EmailAddress" class="control-label">
                @WebPhrase.EmailAddress
            </label>    
            <span class="controls">
                @Html.EditorFor(m => m.EmailAddress)     
            </span>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">
                @WebPhrase.Password
            </label>
            <span class="controls">
                @Html.EditorFor(m => m.Password)        
            </span>
        </div>
        <div class="form-actions">
            @Html.SubmitButton(WebPhrase.LogOn, "btn btn-primary")    
        </div>
    }
</div>