@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
    ViewBag.Title = WebPhrase.LogOn;
}

@using (Html.BeginForm()) {
    <h1>@WebPhrase.LogOn</h1>
    <div>
        @Html.Label("email", WebPhrase.EmailAddress)        
        <span>
            @Html.TextBox("email", null, new { type = "email" })        
        </span>
    </div>
    <div>
        @Html.Label("password", WebPhrase.Password)
        <span>
            @Html.Password("password")        
        </span>
    </div>
    @Html.SubmitButton(WebPhrase.LogOn)
}