@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
    ViewBag.Title = WebPhrase.LogOn;
}

@using (Html.BeginForm()) {
    <h1>@WebPhrase.LogOn</h1>
    <div>
        @Html.Label("email", WebPhrase.EmailAddress)
        @Html.TextBox("email", null, new { type = "email" })
    </div>
    <div>
        @Html.Label("password", WebPhrase.Password)
        @Html.Password("password")
    </div>
    @Html.SubmitButton(WebPhrase.LogOn)
}