@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
    ViewBag.Title = WebPhrase.LogOn;
}

@using (Html.BeginForm()) {
    <label>
        <b>@WebPhrase.EmailAddress</b>
        @Html.TextBox("email", null, new { type = "email" })
    </label>
    <label>
        <b>@WebPhrase.Password</b>
        @Html.Password("password")
    </label>
    @Html.SubmitButton(WebPhrase.LogOn)
}