@model IWebView

@if (Model.TotalPageCount > 1)
{
    <div id="paging">
        @Html.Paging(unorderedList: true)
    </div>
}
@if (Model.Query.IsDateView)
{
    var startDate = Model.Query.StartDate.Value;    
    <div id="date">
        <a href="@Url.Action("Index", Model.Query.WithStartDate(startDate.Previous(Model.Query.Mode)).ToRouteValueDictionary())">
            @Html.LeftArrow()
        </a> 
        @Model.Query.StartDate.Value.ToString(Model.Query.Mode)
        <a href="@Url.Action("Index", Model.Query.WithStartDate(startDate.Next(Model.Query.Mode)).ToRouteValueDictionary())">
            @Html.RightArrow()
        </a>    
    </div>
}
<div id="actions">
    @if (Model.Can(WebAction.Create))
    {
        @Html.ActionLink(WebPhrase.Create, "Create", null, new { target = "_blank", @class = "btn btn-primary" })
    }
</div>
@if (!Model.Filter.IsEmpty())
{
    using (Html.BeginNamedForm("filter"))
    {
        @Html.DropDownList("filter", Model.Filter)
        @Html.SubmitButton(WebPhrase.Filter)
    }
}  
@if (!Model.Mode.IsEmpty())
{
    using (Html.BeginNamedForm("mode"))
    {
        @Html.DropDownList("mode", Model.Mode)
        @Html.SubmitButton(WebPhrase.Mode)
    }
} 