@model SiteMapNodeCollection

<ul class="nav">
    @foreach (SiteMapNode node in Model)
    {
        <li @Html.OptionalAttr("class", "active", node.IsAncestorOrSelf()) id="@node.Key">
            @if (node.Url.IsAbsoluteUri())
            {
                <a href="@Url.Content(node.Url)" rel="external" target="_blank">
                    @node.Title
                </a>
            }
            else
            {
                <a href="@Url.Content(node.Url)">
                    @node.Title
                </a>
            }
        </li>
    }
</ul>