@model Instatus.Models.User

<html>
    <head>
        <title>@WebPhrase.Confirmation</title>
    </head>
    <body>
        <h1>@WebPhrase.Confirmation @Model.FullName</h1>
        <p><a href="@Model.GenerateVerificationUri(Url)">@Model.GenerateVerificationUri(Url)</a></p>
    </body>
</html>