@model Instatus.Models.Page

<section role="main" itemscope itemtype="@Model.GetVocabularyItemType()" itemid="@Model.Id">
    <header class="page-header">
        <h1 itemprop="name">@Model.Name</h1>  
    </header>
    @if (!Model.Description.IsEmpty())
    {
        <div itemprop="description">
            @Html.Content(Model.Description)        
        </div>
    }
    @Html.Parts(WebZone.Figure)    
    <div itemprop="mainContentOfPage">
        @if (Model.Document != null)
        {
            @Html.Content(Model.Document.Body)
        }
        @Html.Parts(WebZone.Body)        
    </div>
</section>