@model Instatus.Models.Page

@{
    ViewBag.Title = Model.Name;
}

@section head {
    @Html.Parts(WebZone.Head)
}

<div role="main" itemscope itemtype="@Model.GetItemType()" itemid="@Model.Id">
    <header>
        <h1 itemprop="name">@Model.Name</h1>  
        <div>
            @Html.Parts(WebZone.Header)          
        </div>
    </header>
    @if (!Model.Description.IsEmpty())
    {
        <div itemprop="description">
            @Html.Content(Model.Description)        
        </div>
    }
    @if (Model.Document != null)
    {
        <div itemprop="mainContentOfPage">
            @Html.Parts(WebZone.Figure)
            @Html.Content(Model.Document.Body)
            @Html.Parts(WebZone.Body)
        </div>
    }
    <aside>
        @Html.Parts(WebZone.Aside)
    </aside>
</div>
<nav role="navigation">
    <div>
        @Html.Action("Brand")  
        @Html.Action("Nav")        
    </div>
</nav>
<footer>
    <div>
        @Html.Parts(WebZone.Footer) 
        @Html.Action("Legal")   
    </div>
</footer>
@Html.Parts(WebZone.Scripts)