@model WebSection

<section @Html.Attr(Model.Parameters.GetHtmlAttributes())>
    @Html.Tag("h1", Model.Heading)
    @Html.Tag("h2", Model.Strapline)
    @Html.Content(Model.Body)
    <ul>
        @foreach (var link in Model.Links)
        {
            <li>
                @Html.Tag("b", link.Title)
                @Html.Anchor(WebPhrase.View, WebPath.Absolute(link.Uri))
            </li>
        }
    </ul>
</section>