@model WebSection

<section@(Html.Attr(Model.Parameters.GetHtmlAttributes()))>
    <div>
        @Html.Tag("h1", Model.Heading)
        @Html.Tag("h2", Model.Strapline)
        @Html.Content(Model.Body)  
        @if (Model.Links.NonEmpty())
        {
            <ul>
                @foreach (var link in Model.Links)
                {
                    <li>
                        @if (WebMimeType.IsPhoto(link.ContentType))
                        {
                            @Html.Image(link.Uri, link.Title)
                        }
                        else
                        {
                            @Html.Tag("b", link.Title)
                            @Html.Anchor(WebPhrase.View, WebPath.Absolute(link.Uri))
                        }
                    </li>
                }
            </ul>
        } 
    </div>
</section>