@model IWebView

@{
    var sectionAttributes = new Dictionary<string, object>();

    if (ViewContext.IsChildAction && ViewContext.ParentActionViewContext.ViewData.Model is WebSection) {
        var webSection = (WebSection)ViewContext.ParentActionViewContext.ViewData.Model;

        sectionAttributes.Add("id", webSection.Parameters.GetHtmlId());
        sectionAttributes.Add("class", webSection.Parameters.GetHtmlClass());   
    }    
}

<section @Html.Attr(sectionAttributes)>
    @if (Model.Query.Mode == WebMode.PagedList)
    {
        <nav>
            @Html.Paging()
        </nav>
    }
    @foreach (Instatus.Models.Page page in Model)
    {
        <article>
            <a href="@Url.RouteUrl(Instatus.Areas.Microsite.MicrositeAreaRegistration.PageRouteName, new { slug = page.Slug })">
                <h1>@page.Name</h1>
                <dl>
                    <dd>@WebPhrase.Published</dd>
                    <dt>@page.CreatedTime.ToString()</dt>
                    @if(page.User != null) {
                        <dt>@WebPhrase.Author</dt>
                        <dd>@page.User.FullName</dd>
                    }
                </dl>      
            </a>
        </article>
    }
</section>